<h2>Nome do Restaurante<%= @restaurant.name %></h2>

<p>Endereço<%= restaurant.address %></p>
<p>Telefone<%= restaurant.phone_number %></p>
<p>Categoria<%= restaurant.category %></p>

<!-- <p>Avaliação<%= '⭐️' * @restaurant.rating %></p> -->
